#stylelast
	{
		position:relative;
		display:block;
		height:28px;
		font-size:12px;
		font-weight:bold;
		background:transparent url(../img/menu-background.gif) repeat-x bottom left;
		font-family:Tahoma,Verdana,Helvitica,sans-serif;
	}
#stylelast ul.topmenu
	{
		margin:0;
		padding:0;
		list-style-type:none;
		width:auto;
	}
#stylelast ul.topmenu li
	{
		display:block;
		float:left;
		margin:0 1px 0 0;
	}
#stylelast ul.topmenu li a
	{
		display:block;
		float:left;
		color: #AAAAAA;
		text-decoration:none;
		padding:6px 20px 0 20px;
		height:24px;
	}
#stylelast ul.topmenu li a:hover,#stylelast ul.topmenu li a.current
	{
		color:#fff;
		height:24px;
		background:transparent url(../img/menu-item-dark-grey.gif) repeat-x top left;
		/*border-left:solid 1px #AAAAAA;
		border-right:solid 1px #AAAAAA;*/
	}

#stylelast ul.topmenu2
{
		margin:0;
		padding:0;
		list-style-type:none;
		width:auto;
}
#stylelast ul.topmenu2 li
	{
		display:block;
		color: #AAAAAA;
		float:left;
		margin:0 1px 0 0;
		padding:6px 20px 0 20px;
	}
ul.menu, ul.menu2
{
	list-style-type:	none;
	position: relative;
	color:	#aaa;
	float: left;
	padding:0;
 	margin:0;
}
ul.menu li
{
	float: left;
	text-align: 	left;
	width:	149px;
	font-weight		:bold;
	font-size		:12px;
	vertical-align: middle;
}
ul.menu2 li
{
	float: left;
	text-align: 	left;
	width:	149px;
	font-weight		:bold;
	font-size		:12px;
	vertical-align: middle;
	padding-top:6px;
	padding-bottom: 6px;
}
ul.menu li a
{
	background-image:url('../img/menu_bg.jpg');
	color:	#aaa;
	width:	139px;
	padding-top:6px;
	padding-bottom:5px;
	display: block;
	text-decoration: none;
	cursor:			pointer;
    padding-left: 10px;

}
ul.menu li a:hover 
{
	color:	#FFF;
}
ul.menu li a.action 
{
	color:	#FFF;
}